$header: rgb(241, 181, 137);
$background: rgb(245, 245, 245);
$field: rgb(255, 255, 255);
$sidebar-item: rgb(87, 87, 87);
$views: rgb(59, 173, 14);

$shadow-color: rgb(160, 160, 160);
@mixin shadow {
  box-shadow: 0 2px 6px -2px $shadow-color;
}

@mixin wrapper($padding: 10px) {
  @include shadow;
  padding: $padding;
  border-radius: 8px;
  background-color: $field;
}

$button-accent-bg: rgb(31, 76, 210);
$button-accent-color: rgb(231, 231, 231);
$button-secondary-bg: rgb(255, 255, 255);
$button-secondary-color: rgb(0, 0, 0);
$button-disabled-bg: rgb(220, 220, 220);
$button-disabled-color: rgb(150, 150, 150);

$input-text: rgb(0, 0, 0);
$input-border-color: rgb(220, 220, 220);
$input-border-focused-color: rgb(140, 140, 140);
$input-placeholder: rgb(180, 180, 180);

$tab-active: rgb(25, 143, 173);
$tab: rgb(136, 166, 166);
$tab-fw: 500;
$tab-fs: 12px;