@import "views/styles/variables";

.post {
  @include wrapper;

  &__title {
    margin: 0 0 10px 0;
  }

  &__text {
    margin: 0;
  }

  &__footer {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
}
