.layout {
  &__content {
    margin-top: 10px;
  }

  &__nav {
    position: fixed;
    top: 58px;
    left: 0;
  }

  &__main {
    &_margin_l {
      margin-left: 200px;
    }

    &_margin_r {
      margin-right: 200px;
    }
  }

  &__aside {
    position: fixed;
    top: 58px;
    right: 0;
  }
}
