@import "../../styles/variables";

.ratingHeader {
  @include wrapper(10px 10px 0);

  &__title {
    margin-bottom: 10px;
    font-size: $rating-header-title-fs;
    font-weight: $rating-header-title-fw;
  }

  &__text {
    margin: 0;
  }
}