@import "../../styles/variables";

.post {
  @include wrapper;

  &_full {
    padding: 30px 100px;

    .post__actions {
      margin: 20px 0;
      width: 200px;
    }
  }

  &__title {
    font-size: $post-title-fs;
    font-weight: $post-title-fw;
    margin-bottom: 10px;
  }

  &__text {
    margin: 0;
  }

  &__actions {
    padding: 5px;
    margin: 10px 0 5px;
    display: flex;
    justify-content: space-between;
    color: $post-icon;

    &_full {
      background-color: pink;
      width: 200px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__author {
    display: flex;
    gap: 5px;
  }

  &__submits {
    display: flex;
    gap: 10px;
  }
}
