$header: rgb(241, 181, 137);
$background: rgb(245, 245, 245);
$sidebar-item: rgb(87, 87, 87);

$shadow-color: rgb(160, 160, 160);
@mixin shadow {
  box-shadow: 0 2px 6px -2px $shadow-color;
}

$button-accent-bg: rgb(31, 76, 210);
$button-accent-color: rgb(231, 231, 231);
$button-secondary-bg: rgb(255, 255, 255);
$button-secondary-color: rgb(0, 0, 0);
$button-disabled-bg: rgb(220, 220, 220);
$button-disabled-color: rgb(150, 150, 150);

$input-text: rgb(0, 0, 0);
$input-border-color: rgb(220, 220, 220);
$input-border-focused-color: rgb(140, 140, 140);
$input-placeholder: rgb(180, 180, 180);